@media (max-width: 1200px) {
  .pc-inner {
    max-width: auto;
  }
  /* main page : news area bottom */
  .news-wrap_bottom.pc-inner {
    width: 94%;
  }
  .news-board .news,
  #category .news {
    width: 98%;
  }
  .news-board .news:hover {
    transform: translateX(0);
  }
}
@media (max-width: 1080px) {
  .pc-inner {
    max-width: 100%;
  }
  #header-inner {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  }
  .logo-area {
    text-align: left;
    padding: 0 20px;
  }
  .logo {
    display: inline-block;
  }
  .logo a {
    font-size: 32px;
  }
  .active-header {
    display: none;
  }
  #pc_gnb {
    display: none;
  }
  /* Mobile Nav */
  #m_gnb {
    display: block;
    /* border: 1px solid #000; */
  }
  .m_btn-wrap {
    position: absolute;
    top: 30px;
    right: 10px;
  }
  .m_btn-wrap .search {
    display: inline-block;
    vertical-align: bottom;
  }
  .m_search-btn {
    width: 50px;
    height: 50px;
  }
  .m_search-input {
    display: none;
  }
  .m_search-input.active {
    display: inline-block;
  }
  .m_search-btn i {
    font-size: 26px;
  }
  .m_menu-btn {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  .m_menu-btn i {
    font-size: 32px;
  }
  .m_menu-layer {
    width: 100%;
    height: auto;
    padding: 10px 30px 0;
    display: none;
  }
  .m_menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .m_menu li {
    text-align: center;
  }
  .m_menu a {
    padding: 15px;
    font-size: 18px;
  }
  /* Main : news-area_top section */
  main {
    margin-top: 120px;
  }
  .news-wrap_top {
    width: 85%;
    height: 900px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
  }
  .main-newsBox {
    grid-row: 1;
    grid-column: span 2;
    /* height: 400px; */
  }
  /* subPage */
  #category #news-area {
    margin-top: 100px;
  }
  #category .news-wrap_bottom {
    margin-top: 150px;
  }
  .current-category {
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    color: crimson;
    letter-spacing: 1.2px;
    position: fixed;
    width: 100vw;
    padding: 1.2em 0;
    top: 90px;
    left: 0;
    z-index: 999;
  }
}
@media (max-width: 860px) {
  .news-wrap_bottom {
    padding: 1.5em;
  }
  .news-board .news {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: 0.35s;
  }
  .news-board .news .news-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .news-board .news .news-title {
    font-size: 18px;
  }
  .news .press {
    margin-top: 10px;
  }
  /* footer */
  .footer-inner {
    height: 300px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer-col {
    width: 300px;
    padding: 10px;
  }
  .footer-col:nth-child(2) {
    border-top: 1px solid #ddd;
    border-left: none;
  }
  .contact-txt {
    font-size: 14px;
  }
  /* subPage */
  #category .news-board .news {
    height: auto;
    padding: 20px;
  }
  #category .news-board .news .news-item {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  #category .news-img {
    width: 70%;
  }
  #category .news-board .news .news-txt {
    padding: 0 20px;
    flex: none;
    opacity: 0.8;
    transition: 0.4s;
  }
}
@media (max-width: 680px) {
  .logo-area {
    padding: 0 15px;
  }
  #m_gnb {
    right: 10px;
  }
  .m_menu a {
    font-size: 16px;
  }
  .news-wrap_top {
    width: 100%;
    /* height: 120vw; */
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .news-wrap_top > div {
    width: 100%;
    height: 250px;
  }
  .news-wrap_top > div,
  .news-wrap_bottom > div {
    border-radius: 10px;
  }
  .main-newsBox {
    grid-column: 1;
  }
  .main-newsBox:hover .news-txt {
    height: 100%;
  }
  .main-newsBox .news-title,
  .sub-newsBox .news-title {
    font-size: 18px;
    font-weight: normal;
  }
  .main-newsBox .news-description,
  .sub-newsBox .news-description {
    font-size: 16px;
    margin-top: 15px;
  }
  .sub-newsBox .news-txt {
    padding: 1.5em;
  }
  .sub-newsBox .news-title {
    margin-top: 0;
  }
  @supports (-webkit-line-clamp: 1) {
    .sub-newsBox .news-title {
      white-space: normal;
      display: -webkit-inline-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #main-page .news-board .news {
    height: 100px;
  }
  #main-page .news-board .news-item {
    /* display: block; */
    height: 100px;
  }
  #main-page .news-board .news-img {
    display: none;
  }
  #main-page .news-board .news-txt {
    width: 100%;
  }
  #main-page .news-board .news-title {
    font-size: 16px;
    margin-bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @supports (-webkit-line-clamp: 2) {
    #main-page .news-board .news-title {
      white-space: normal;
      display: -webkit-inline-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #main-page .news-board .news-description {
    display: none;
  }
  /* subPage */
  #category .news-img {
    width: 100%;
  }
}
