/******** Fonts ********/
/* logo */
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* ==============================
    CSS Setting
  =============================== */
*{
  box-sizing: border-box;
}
body, h1, h2, h3, h4, ul, p, ul{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  color: #222;
}
ul{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* ==============================
    Layout
=============================== */
/* section은 marginbottom, 안의 div는 가로너비 */
.pc-inner{
  max-width: 1300px;
  margin: 0 auto;
}
/* ==============================
  Header ( PC )
=============================== */
.logo-area{
  text-align: center;
}
.logo{
  font-family: "Sansita", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 2em;
  height: inherit;
}
#pc_gnb{
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.pc_menu{
  height: 35px;
}
.pc_menu li{
  display: inline-block;
  overflow: hidden;
}
.pc_menu li a{
  font-size: 18px;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  transition: 0.35s;
}
.pc_menu li:nth-child(5) a{
  width: 120px;
}
.pc_menu li a:before,
.pc_menu li a:after{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.35s;
}
.pc_menu li a:before{
  content: attr(data-menu_kr);
  top: 0;
}
.pc_menu li a:after{
  content: attr(data-menu_en);
  top: 100%;
}
.pc_menu li a:hover:before{
  top: -100%;
}
.pc_menu li a:hover:after{
  top: 0;
  color: crimson;
}
.search input{
  max-width: 200px;
  font-size: 16px;
  padding: 0.3em 0.5em;
  outline: none;
}
.search input::placeholder{
  font-size: 14px;
}
.search input:focus::placeholder{
  opacity: 0;
}
header .search-btn{
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .search-btn i{
  font-size: 20px;
}
/* active header */
.active-header{
  max-width: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.35s;
}
.active-header .logo{
  font-size: 30px;
  line-height: 2em;
}
.active-header #pc_gnb{
  width: 90%;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
}
/* ==============================
  Main : news-area_top section
=============================== */
#news-area_top, #news-area_bottom{
  margin-bottom: 40px;
}
.news-wrap_top{
  height: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.4em;
  padding: 30px;
}
.news-wrap_top > div{
  /* border: 1px solid #000; */
  border-radius: 20px;
  cursor: pointer;
}
.main-newsBox{
  grid-row: 1 / span 2;
  /* height: 400px; */
}
.main-newsBox,
.sub-newsBox{
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.main-newsBox .news-item,
.sub-newsBox .news-item{
  height: 100%;
}
.main-newsBox .news-img,
.sub-newsBox .news-img{
  width: 100%;
  height: 100%;
}
.main-newsBox .news-img img,
.sub-newsBox .news-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  transition: 0.4s;
}
.main-newsBox .news-txt,
.sub-newsBox .news-txt{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  transition: 0.4s;
}
.news-txt span,
.news-txt .press{
  display: block;
}
.main-newsBox .news-title,
.sub-newsBox .news-title{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@supports(-webkit-line-clamp: 2){
  .sub-newsBox .news-title{
    white-space: normal;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.main-newsBox .news-txt{
  height: 70px;
  padding: 1.5em;
}
.main-newsBox .news-title{
  font-size: 24px;
  font-weight: 600;
}
.sub-newsBox .news-txt{
  height: 30%;
  padding: 0 20px;
}
.main-newsBox .news-description{
  font-size: 18px;
  margin-top: 15px;
}
.main-newsBox .news-description,
.sub-newsBox .news-description{
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.sub-newsBox .news-title
{
  margin-top: 10px;
  font-size: 16px;
}
.sub-newsBox .news-description{
  font-size: 14px;
}
.news-txt .press{
  text-align: right;
  font-style: normal;
  font-size: 14px;
  opacity: 0.8;
}
.main-newsBox .press,
.news .press{
  margin-top: 20px;
}
.sub-newsBox .press{
  margin-top: 10px;
}
/* 뉴스박스 hover */
.main-newsBox:hover .news-img img,
.sub-newsBox:hover .news-img img{
  transform: scale(1.05);
}
.main-newsBox:hover .news-title{
  margin-bottom: 20px;
}
.main-newsBox:hover .news-description,
.sub-newsBox:hover .news-description{
  opacity: 1;
  visibility: visible;
}
.main-newsBox:hover .news-txt{
  height: 45%;
}
.sub-newsBox:hover .news-txt{
  height: 100%;
}

/* ==============================
  Main : news-area_bottom section
=============================== */
.news-wrap_bottom{
  padding: 3em;
  border-radius: 20px;
  background-color: #efefef;
}
.news-board{
  width: 100%;
  position: relative;
}
.news-board .news{
  width: 80%;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  cursor: pointer;
  transition: 0.35s;
}
.news-board .news .news-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.news-board .news .news-img{
  height: 100%;
  width: 30%;
}
.news-board .news .news-img img{
  display: inline-block;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.news-board .news .news-txt{
  padding: 0 20px;
  flex: 1;
  opacity: 0.8;
  transition: 0.4s;
}
.news-board .news .news-title{
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.news-board .news .news-description{
  opacity: 1;
  visibility: visible;
}
.view-more{
  font-size: 16px;
  font-weight: 500;
  color: #666;
  position: absolute;
  right: 7%;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s;
}
.view-more i{
  margin-left: 5px;
}
.news-board .news:hover{
  transform: translateX(-10%);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  position: relative;
}
.news-board .news:hover .news-title,
.news-board .news:hover .news-description{
  opacity: 1;
}
.news-board .news:hover .news-title{
  text-decoration: underline;
}

/* ==============================
  Category Page : news-area_bottom section
=============================== */
#category #news-area{
  margin-top: 50px;
}
#category .news-wrap_bottom{
  background-color: #fff;
}
#category .news{
  width: 90%;
}
#category .news:hover{
  transform: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  position: relative;
}